<!DOCTYPE html>
<html>
<head>
    <title>twig</title>
</head>
<body>

    <ul>
        {% for name in names %}
            <li>Hello, {{ name }}!</li>
        {% endfor %}
    </ul>

</body>
</html>
