{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<a class="navbar-brand mt-2 mt-lg-0" href="#">
						<img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="IMDB Logo" loading="lazy"/>
					</a>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="#">Dashboard</a>
						</li>
						{# <li class="nav-item">
												            <a class="nav-link" href="#">Team</a>
												          </li>
												          <li class="nav-item">
												            <a class="nav-link" href="#">Projects</a>
												          </li> #}
					</ul>
				</div>

				<div class="d-flex align-items-center">
					<a class="text-reset me-3" href="#">
						<i class="fas fa-shopping-cart"></i>
					</a>

					<div class="dropdown">
						<span>Hi
							{{ userName}}
							!!</span>
					</div>
				</div>
			</nav>
		</header>
		<section>
			<div class="container">
				<div class="row mt-3 mb-5">
					{% for movie in movies %}
						<div class="col-lg-4">
							<div class="card" style="width:350px">
								<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShKlMzQ2d7BZe8nES_eAVpYFeOsxqUWigWWQ&usqp=CAU" alt="Movie image" style="width:100%">
								<div class="card-body">
									<h4 class="card-title">{{ movie.title }}</h4>
									<p class="card-text">{{ movie.descript }}</p>
									<a href="{{ path('movie_profile', {'id': movie.movieId,'userid': userid}) }}" class="btn btn-primary" target="_blank">See Profile</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</section>

	{% endblock %}
